:root {
  --color-primary: #6082B6;
  --color-scrolled: #7393B3;
  --color-primary-hover: #B6D0E2;
  --color-accent: #B6D0E2;
  --color-dark: #1e293b;
  --color-bg-gradient-from: #0f172a;
  --color-bg-gradient-to: #1e293b;
  --color-text: #64748b;
  --color-text-light: #fff;
  --color-text-muted: #d1d5db;
  --color-background: #f9fafb;
  --body-font: 'Poppins', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
}

.portfolio-item-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
