@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/* @font-face {
  font-family: 'Font-Bold';
  src: url("./fonts/Basic-Font-Bold.woff2");
}

@font-face {
  font-family: 'Font-Regular';
  src: url("./fonts/Basic-Font-Regular.woff2");
}
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Font-Regular', 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1 {
  font-size: 2em;
  font-family: 'Font-Bold', 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 20px;
  background-color: #149517 ;
}

h2 {
  font-family: 'Font-Bold', 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #149517;
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Font-Bold', 'Source Sans Pro', sans-serif;
  font-size: 1em;
  z-index: 1;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, .2);
  position: relative;
}

a:hover {
  text-decoration: underline;
  color:#149517;
}

#logo {
  width: 180px;
  height: 50px;
  fill: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.menu-icon {
  display: none;
  color: #149517;
  font-size: 26px;
  cursor: pointer;
  padding: 0 10px 0 10px;
}

.menu-icon:hover {
  opacity: 0.8;
}

.menu-icon:active {
  background-color: #222222;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  color: #149517;
  text-decoration: none;
}

.menu a:hover {
  color: #fff;
  background-color: #3aa13c;
  text-decoration: none; 
}


.menu a:active {
  background-color: #222222;

}

nav a {
  font-weight: bold;;
  text-decoration: none;
  color: #149517;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  
}

.image {
  background: url(image/main-pic.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}

.address {
  text-align: center;
  line-height: 1.5;
  font-size: 1em;
  flex: auto;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: #edffef;
  color: #149517;
  border-bottom: 10px solid #149517;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 0;
}

.copyright {
  font-size: small;
  text-align: center;
  padding: 10px;
  color: #149517;
}


footer p {
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav {
    flex-direction: column;
  }

  .menu-icon {
    display: block;
    margin-left: auto;
    /* Move to the right */
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 80px;
    background-color: #149517;
    padding: 0;
    overflow: hidden;
  }

  .menu.show {
    max-height: 100vh;
  }

  .menu li {

    padding: 20px 0 20px 0;
  }

  .menu li:hover {
    background-color: #3aa13c;
  }

  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 100px 5px 100px;
  }

  .menu a:active {
    padding: 5px 100px 5px 100px;
  }
}